Repository eqcorrscan/EQcorrscan, pull requests merged in 2020-05, with the labels that each got.

#393 Add IASPEI standard option
  CHANGES.md
  eqcorrscan/core/template_gen.py
  eqcorrscan/tests/mag_calc_test.py
  eqcorrscan/utils/mag_calc.py
Labels: utils.mag_calc

#392 Allow pretty_template_plot to sort and plot traces by hypocentral distance
  eqcorrscan/tests/baseline/test_pretty_template_plot_sort.png
  eqcorrscan/tests/baseline/test_pretty_template_plot_sort_by_picktime.png
  eqcorrscan/tests/plotting_test.py
  eqcorrscan/utils/catalog_utils.py
  eqcorrscan/utils/picker.py
  eqcorrscan/utils/plotting.py
Labels: enhancement, utils.plotting

#404 Add travis testing on Python 3.8
  .travis.yml
  appveyor.yml
Labels: build, tests
