Repository eqcorrscan/EQcorrscan, pull requests merged in 2021-04, with the labels that each got.

#453 Test wildcards and ensure they work!
  CHANGES.md
  conftest.py
  eqcorrscan/core/match_filter/party.py
  eqcorrscan/tests/match_filter_test.py
Labels: bug, core.match_filter

#424 Patches for catalog-to-dd
  CHANGES.md
  conftest.py
  eqcorrscan/tests/catalog_to_dd_test.py
  eqcorrscan/tests/match_filter_test.py
  eqcorrscan/tests/test_data/station.dat
  eqcorrscan/tests/test_data/station_elev.dat
  eqcorrscan/utils/catalog_to_dd.py
Labels: bug, utils.catalog_to_dd

#452 WIP: Fully support shift_len > 0 in clustering.distance_matrix
  CHANGES.md
  eqcorrscan/tests/clustering_test.py
  eqcorrscan/utils/clustering.py
Labels: Cleaning, bug, utils.clustering

#460 implement #454
  CHANGES.md
  eqcorrscan/core/match_filter/tribe.py
  eqcorrscan/core/template_gen.py
  eqcorrscan/tests/template_gen_test.py
Labels: core.template_gen, enhancement

#457 Merge for 0.4.3 release
  .circleci/config.yml
  .github/workflows/runtest.yml
  CHANGES.md
  README.md
  appveyor.yml
  conftest.py
  eqcorrscan/__init__.py
  eqcorrscan/core/lag_calc.py
  eqcorrscan/core/match_filter/family.py
  eqcorrscan/core/match_filter/matched_filter.py
  eqcorrscan/core/match_filter/party.py
  eqcorrscan/core/match_filter/tribe.py
  eqcorrscan/core/subspace.py
  eqcorrscan/core/template_gen.py
  eqcorrscan/doc/plots/twoD_seismplot-depth.png
  eqcorrscan/tests/catalog_to_dd_test.py
  eqcorrscan/tests/clustering_test.py
  eqcorrscan/tests/lag_calc_test.py
  eqcorrscan/tests/match_filter_test.py
  eqcorrscan/tests/plotting_test.py
  eqcorrscan/tests/template_gen_test.py
  eqcorrscan/tests/test_data/station.dat
  eqcorrscan/tests/test_data/station_elev.dat
  eqcorrscan/tutorials/lag_calc.py
  eqcorrscan/utils/archive_read.py
  eqcorrscan/utils/catalog_to_dd.py
  eqcorrscan/utils/clustering.py
  eqcorrscan/utils/correlate.py
  eqcorrscan/utils/mag_calc.py
  eqcorrscan/utils/picker.py
  eqcorrscan/utils/plotting.py
  eqcorrscan/utils/pre_processing.py
  setup.py
Labels: release

#461 Implement relative magnitude bias correction as in Schaff & Richards 2014
  CHANGES.md
  eqcorrscan/tests/mag_calc_test.py
  eqcorrscan/utils/mag_calc.py
Labels: bug, utils.mag_calc
