Repository eqcorrscan/EQcorrscan, pull requests merged in 2021-03, with the labels that each got.

#448 Simple trial of migrating superslow and windows tests to github actions
  .circleci/config.yml
  .github/workflows/runtest.yml
  README.md
  appveyor.yml
  setup.py
Labels: Cleaning

#447 Syntax / function call updates in preparation of obspy 2.0 (+ h5py, scipy)
  eqcorrscan/core/lag_calc.py
  eqcorrscan/core/subspace.py
  eqcorrscan/tests/lag_calc_test.py
  eqcorrscan/tests/match_filter_test.py
  eqcorrscan/utils/picker.py
  eqcorrscan/utils/plotting.py
Labels: tests, utils.plotting

#444 Cope with missing parts of seed ids
  eqcorrscan/core/template_gen.py
Labels: core.template_gen

#443 Add option to not copy data
  eqcorrscan/core/match_filter/matched_filter.py
Labels: core.match_filter, enhancement

#442 Add iteration to Party
  eqcorrscan/core/match_filter/party.py
Labels: bug

#420 Provide option to export cross-correlation sums.
  CHANGES.md
  eqcorrscan/core/match_filter/matched_filter.py
Labels: core.match_filter

#439 Fix bug where detection time depends on content of a tribe when continuous data are incomplete
  eqcorrscan/tests/match_filter_test.py
  eqcorrscan/utils/clustering.py
  eqcorrscan/utils/pre_processing.py
Labels: bug, core.match_filter

#419 Writing out detections: add 'SDS' as archive-option, plus bug-fix with party-overwrite
  CHANGES.md
  eqcorrscan/core/match_filter/family.py
  eqcorrscan/core/match_filter/party.py
  eqcorrscan/tests/match_filter_test.py
  eqcorrscan/utils/archive_read.py
  eqcorrscan/utils/correlate.py
Labels: bug, core.match_filter

#446 Allow adjusting minimum CC threshold for lag-calc picking individually for detections
  CHANGES.md
  eqcorrscan/core/lag_calc.py
  eqcorrscan/core/match_filter/family.py
  eqcorrscan/core/match_filter/party.py
  eqcorrscan/tests/lag_calc_test.py
  eqcorrscan/tests/match_filter_test.py
Labels: core.lag_calc
